<h3>ContractorRequestForm</h3>

@code {
    private string[] requestTypes = {
  "New Employee & Create Signon",
  "Primary Position Amendment",
  "Secondary Position Amendment",
  "Signon-Menu",
  "Temporary/Acting Position Assignment",
  "Terminate & Delete Signon",
  "Terminate Secondary Position",
  "Update Existing Employee Record Details",
  "Other",
    };
}
